Flask==2.3.3
flask-cors==4.0.0
Flask-SQLAlchemy==3.1.1
numpy==1.26.2
opencv-python==4.8.0.74
tensorflow==2.16.1
Werkzeug==2.3.7
python-dotenv==1.0.0
gunicorn==21.2.0
requests==2.32.5
psycopg2-binary==2.9.9
stytch==9.3.0
stripe==7.8.0
langchain-core==0.2.43
langchain-openai==0.1.25
langchain-community==0.2.17
langgraph==0.2.16
